<div class="card">
  <h2>Workshops Disponíveis</h2>
  
  <table>
    <thead>
      <tr>
        <th>Nome do Evento</th>
        <th>Data e Hora</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of workshops">
        <td>{{ item.nome }}</td>
        <td>{{ item.dataRealizacao | date:'dd/MM/yyyy HH:mm' }}h</td>
        <td>{{ item.descricao }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="workshops.length === 0" style="padding: 20px; color: #666;">
    Nenhum workshop encontrado. Verifique se o backend está rodando.
  </p>
</div>