<aside class="sidebar">
  <div class="logo">
    Workshop Tracker
  </div>
  <nav>
    <a (click)="navegar('/dashboard')" routerLinkActive="active" style="cursor: pointer;">📊 Dashboard</a>
    <a (click)="navegar('/workshops')" routerLinkActive="active" style="cursor: pointer;">📅 Workshops</a>
    <a (click)="navegar('/colaboradores')" routerLinkActive="active" style="cursor: pointer;">👥 Colaboradores</a>
    <a (click)="navegar('/lancamento-ata')" routerLinkActive="active" style="cursor: pointer;">📝 Lançar Ata</a>
  </nav>
</aside>