<aside class="sidebar">
  <div class="logo">
    <span class="logo-main">Workshop</span>
    <span class="logo-sub">Tracker</span>
  </div>
  
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">
      <span>📊</span> Dashboard
    </a>
    <a routerLink="/workshops" routerLinkActive="active">
      <span>📅</span> Workshops
    </a>
    <a routerLink="/colaboradores" routerLinkActive="active">
      <span>👥</span> Colaboradores
    </a>
    <a routerLink="/lancamento-ata" routerLinkActive="active">
      <span>📝</span> Lançar Ata
    </a>
  </nav>
</aside>